@import "variable.styl"

body,html
  line-height 1
  font-family 'PingFang SC', 'STHeutiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select none
  -webit-tap-higtlight-color transparent
  background $color-background
  color $color-text
